{% extends "templates/base.html" %}

{% block title %}About{% endblock %}

{% block maincontent %}
<div>
    <div class='panel panel-borderless panel-default col-sm-6 col-sm-offset-3' style="margin-bottom:40px">
        <div class='panel-body'>
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <h2>About</h2>
                </div>
            </div>
            <div class="row" >
                <div class="col-md-10 col-md-offset-1 ">
                    Dist Cog is built to produce income at scale by distributing cognition with as low friction as possible.
                </div>
            </div>
        </div>
    </div>
    <br><br>
</div>
{% endblock maincontent %}