{% extends "templates/base.html" %}

{% block title %}{{auth_resetpw_trans.en0}}{% endblock %}

{% block maincontent %}

<div>
	<div class='panel panel-borderless panel-default col-sm-4 col-sm-offset-4 '>
		<div class='panel-body'>
			<div class="row">
				<div class="col-md-10 col-md-offset-1">
					<h2>{{auth_resetpw_trans.en0}}</h2>
				</div>
			</div>
			<div class="row">

				{% if passwordUpdated %}

					<div class="text-center">{{auth_resetpw_trans.en5}}</div>

				{% else %}

					<div class="text-center"><font color="red">{{error}}</font></div>
					<div class="col-md-10 col-md-offset-1">
						<form accept-charset='UTF-8' action="/password/reset" method="post" class="resetpasswordForm">
							<input type="hidden" name="csrf" value="{{csrf}}">
							<div class="form-group">
								<label for='newpassword'>{{auth_resetpw_trans.en2}}</label>
								<input type="password" class="form-control" placeholder="Password" name="newpassword" id="newpassword">
							</div>
							<div class="form-group">
								<label for='repeatnewpassword'>{{auth_resetpw_trans.en3}}</label>
								<input type="password" class="form-control" placeholder="Repeat password" name="repeatnewpassword" id="repeatnewpassword">
							</div>
							<input type="hidden" name="token" value="{{ token }}" />
							<div class="row">
								<div class="col-xs-6 col-xs-offset-3">
									<button type="submit" class="btn btn-block btn-primary" id="resetpwsubmit">{{auth_resetpw_trans.en4}}</button>
								</div>
							</div>
						</form>
					</div>

				{% endif %}


			</div>
		</div>
	</div>
</div>

{% endblock maincontent %}
{% block addscripts %}
    <script src="{{ host_js }}/validationreset.js?v={{ curr_version_id }}"></script>
{% endblock addscripts %}